import "zone.js";
import { bootstrapApplication } from "@angular/platform-browser";
import { {{appComponentName}} } from "./{{appDir}}/{{appFileBase}}";
import { {{appConfigName}} } from "./{{appDir}}/{{appConfigFileBase}}";

bootstrapApplication({{appComponentName}}, {{appConfigName}}).catch((err) => console.error(err));
