import React from "react";
import ReactDOM from "react-dom/client";
import {{appComponentName}} from "./{{appFileBase}}";

ReactDOM.createRoot(document.getElementById("root")!).render(
  <React.StrictMode>
    <{{appComponentName}} />
  </React.StrictMode>,
);
