import { Router } from "express";
import { I{{entity}}Service } from "{{serviceImport}}";
import { createReadOnlyRouter } from "{{routesImport}}";

{{#simpleDoc}}/** Route {{fnName}}. */
{{/simpleDoc}}{{#descriptionDoc}}/**
 * Route {{fnName}}.
 * Datasource type: {{datasourceType}}.
 * Target: ReadOnlyRouter.
 * Fields: 0.
 */
{{/descriptionDoc}}export function {{fnName}}(service: I{{entity}}Service): Router {
  return createReadOnlyRouter({
    service,
    entityName: "{{entity}}",{{#occ}}
    useOptimisticConcurrency: true,{{/occ}}
  });
}
