import { useMutation, useQuery } from "@tanstack/react-query";
{{#typeImports}}import type { {{typeName}} } from "{{importPath}}";
{{/typeImports}}import { {{clientName}} } from "../fetch/{{fileBase}}.ts";
import type { Http } from "../fetch/http.ts";

export const {{queryOptionsName}} = {
{{#queries}}
  {{methodName}}: (http: Http{{#hasArgs}}, {{&args}}{{/hasArgs}}) => ({
    queryKey: {{&queryKeyExpr}},
    queryFn: () => {{clientName}}(http).{{methodName}}({{&callArgs}}),
  }),
{{/queries}}
};

export const {{mutationOptionsName}} = {
{{#mutations}}
  {{methodName}}: (http: Http) => ({
    mutationFn: ({{&mutationArg}}) => {{clientName}}(http).{{methodName}}({{&mutationCall}}),
  }),
{{/mutations}}
};
{{#queries}}
export const {{hookName}} = (http: Http{{#hasArgs}}, {{&args}}{{/hasArgs}}) =>
  useQuery({{queryOptionsName}}.{{methodName}}(http{{#hasArgs}}, {{&callArgs}}{{/hasArgs}}));
{{/queries}}{{#mutations}}
export const {{hookName}} = (http: Http) =>
  useMutation({{mutationOptionsName}}.{{methodName}}(http));
{{/mutations}}
