// schema-version: {{schemaVersion}}
import { z } from "zod";
{{#imports}}
import { {{names}} } from "{{fromPath}}";
{{/imports}}

{{&schemaBody}}
{{#withTypeAnnotation}}

export type {{validatedTypeName}} = z.infer<typeof {{schemaName}}>;
{{/withTypeAnnotation}}
