export const {{schemaName}} = {{dsAlias}}{{#hasOmits}}.omit({ {{&omitObj}} }){{/hasOmits}}{{#partialId}}.partial({ id: true }){{/partialId}}{{#hasFields}}.extend({
{{#fields}}
  {{ident}}: {{&zodExpr}},
{{/fields}}
}){{/hasFields}};
