import { ApplicationConfig, provideZoneChangeDetection } from "@angular/core";

export const {{appConfigName}}: ApplicationConfig = {
  providers: [provideZoneChangeDetection({ eventCoalescing: true })],
};
