// schema-version: {{schemaVersion}}
import type { StandardDataSource } from "{{libraryImport}}";

{{#simpleDoc}}/** Type {{className}}. */
{{/simpleDoc}}{{#descriptionDoc}}/**
 * Type {{className}}.
 * Datasource type: {{datasourceType}}.
 * Target: StandardCrud.
 * Fields: {{fieldCount}}.
 */
{{/descriptionDoc}}export interface {{className}} extends StandardDataSource<{{idType}}, {{datetimeType}}> {
{{#fields}}
  {{ident}}: {{tsType}}{{#nullable}} | null{{/nullable}};
{{/fields}}
}
