import type { ReactNode } from "react";

export const metadata = {
  title: "{{application_name}}",
};

export default function {{rootLayoutName}}({
  children,
}: {
  children: ReactNode;
}) {
  return (
    <html lang="en">
      <body>{children}</body>
    </html>
  );
}
